@model IEnumerable<Inquiry_System.Models.Plane>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create" class="btn btn-primary">Create New Plane</a>
    <a asp-controller="PlaneTypes" asp-action="Create" class="btn btn-success">Create New Plane Type</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.Name)</th>
            <th>Plane Type</th>
            <th>@Html.DisplayNameFor(model => model.Availability)</th>
            <th>Photo</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Name)</td>
                <td>@Html.DisplayFor(modelItem => item.PlaneType.Type)</td>
                <td>@Html.DisplayFor(modelItem => item.Availability)</td>
                <td>
                    @if (item.Photo != null)
                    {
                        <img src="data:@item.PhotoContentType;base64,@Convert.ToBase64String(item.Photo)" width="100" />
                    }
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
